$icomoon-font-path: "fonts" !default;

$icon-user: "\e12";
$icon-cart: "\e11";
$icon-close: "\e7";
$icon-pinterest: "\e6";
$icon-plus: "\e5";
$icon-right: "\e4";
$icon-left: "\e3";
$icon-insta: "\e2";
$icon-google: "\e1";
$icon-twit: "\e8";
$icon-search: "\e9";
$icon-fc: "\e10";

